.font-active {
    border-color: #0080ef;
    border-radius: 8px;
    color: #0080ef;
}

div.fonts-margin {
    margin: 10px 0px 10px 0px;
}

.card-fonts {
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 2px 2px;
    border-radius: 8px;
}

.radio-fonts {
    margin-left: -20px;
}
